<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neo</title>
    <link rel="icon" type="image/x-icon" href="/static/images/singleNEO.png">
    <link rel="stylesheet" href="/static/CSS/chat.css">
</head>
<body>
    <div class="chat-container">

        <div style=
            "padding: 15px 20px;
            border-bottom: 1px solid #333;
            display: flex; justify-content: space-between;
            align-items: center;"
        >
            <img src="/static/images/NEO.png" alt="Neo" width="50" height="auto">
            <a href="/logout" style="color: #ececec; text-decoration: none; font-size: 14px;">Log Out</a>
        </div>
        <div id="chat-box" class="chat-box"></div>
        
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Ask anything" autocomplete="off">
            <button id="send-btn">Send</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/JS/script.js"></script>
</body>
</body>
</html>